<!-- Only logged-in users can access this view. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe - Home</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <style type='text/css'>
      body {
        background-image: url('https://ak.picdn.net/shutterstock/videos/21184336/thumb/1.jpg');
        background-size: 100%;
      }
      /* TOP BAR*/
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3A5795;
      }
      li {
        float: right;
      }
      li a {
        display: block !important;
        color: white !important;
        text-align: center !important;
        padding: 14px 16px !important;
        text-decoration: none !important;
      }
      li a:hover {
        background-color: #111;
      }
      /* GAME SESSION */
      .board {
        margin: auto;
        width: 490px;
      }
      .board button {
        height: 150px;
        width: 150px;
        float: left;
        margin: 5px;
        font-size: 3em;
      }
      #message {
        font-size: 2rem;
        margin: 10px auto;
        text-align: center;
      }
    </style>
</head>
<body>
  <ul>
      <li style='float: left;'><a href='/home'>TIC TAC TOE</a></li>
      <li><a href='/api/logout' data-toggle='tooltip' data-placement='bottom' title='Logout'>
        <i class='fa fa-sign-out' style='color: white; font-size: 20px;'></i>
      </a></li>
    </ul>

    <div id='message'>Hello, <b style='color:blue'><%= name %></b>! Waiting for an opponent...</div>

    <div class='board'>
      <button id='r0c0'></button> <button id='r0c1'></button> <button id='r0c2'></button>
      <button id='r1c0'></button> <button id='r1c1'></button> <button id='r1c2'></button>
      <button id='r2c0'></button> <button id='r2c1'></button> <button id='r2c2'></button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
      $(document).ready(function(){
        $('[data-toggle=\'tooltip\']').tooltip();
      });

      // Connect to socket
      const url = window.location.origin;
      const socket = io.connect( `${url}?name=${<%- JSON.stringify(name) %>}`);

      let myTurn = true;
      let symbol;

      const getBoardStatse = () => {
        try {
          const boardState = {};

          $(".board button").each(function() {
            boardState[$(this).attr("id")] = $(this).text() || "";
          });

          return boardState;
        } catch (error) {
          throw new Error(`Get board state: ${error.message}`);
        }
      };

      const isGameOver = () => {
        try {
          const state = getBoardStatse();
          const rows = [
            state.r0c0 + state.r0c1 + state.r0c2, // 1st line
            state.r1c0 + state.r1c1 + state.r1c2, // 2nd line
            state.r2c0 + state.r2c1 + state.r2c2, // 3rd line
            state.r0c0 + state.r1c0 + state.r2c0, // 1st column
            state.r0c1 + state.r1c1 + state.r2c1, // 2nd column
            state.r0c2 + state.r1c2 + state.r2c2, // 3rd column
            state.r0c0 + state.r1c1 + state.r2c2, // Primary diagonal
            state.r0c2 + state.r1c1 + state.r2c0  // Secondary diagonal
          ];

          const xbool = rows.includes('XXX');
          const obool = rows.includes('OOO');

          return xbool || obool;
        } catch (error) {
          throw new Error(`Is game over: ${error.message}`);
        }
      };

      const makeMove = (position) => {
        try {
          if (!myTurn) return;
          if ($(this).text().length) return;

          socket.emit('make.move', {
            symbol,
            position,
          });
        } catch (error) {
          throw new Error(`Make move: ${error.message}`);
        }
      };

      const renderTurnMessage = (opponentName) => {
        try {
          if (!myTurn) { // If not player's turn disable the board
            $('#message').html(`Your opponent <b style='color:blue'>${opponentName}</b>'s turn`);
            $('.board button').attr('disabled', true);
          } else { // Enable it otherwise
            $('#message').text('Your turn');
            $('.board button').removeAttr('disabled');
          }
        } catch (error) {
          throw new Error(`Render turn message: ${error.message}`);
        }
      };

      socket.on('connect', () => {
        console.log('Connected to socket');
      });

      socket.on('opponent.left', ({ opponentName }) => {
        $('#message').text(`Your opponent ${opponentName} left the game`);
        $('.board button').attr('disabled', true);
      });

      socket.on('game.begin', ({ symbol: symbolSign, opponentName }) => {
        symbol = symbolSign;
        myTurn = symbol === 'X';
        renderTurnMessage(opponentName);
      });

      socket.on('move.made', (data) => {
        $("#" + data.position).text(data.symbol);
        myTurn = data.symbol !== symbol;
        if (!isGameOver()) {
          renderTurnMessage(data.opponentName);
        } else {
          if (myTurn) {
            $("#message").text('You lost!');
          } else {
            $("#message").text('You won!');
          }

          $(".board button").attr("disabled", true);

          setTimeout(() => {
            if (window.confirm('Play again?')) location.reload();
          }, 3000);
        }
      });

      $(function() {
        $('.board button').attr('disabled', true); // Disable board at the beginning
        $('.board button').click(function() {
          makeMove($(this).attr('id'));
        });
      });
    </script>
</body>
</html>
