<!-- A user can sign up here. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe - Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
    body {
      background-image: url('https://ak.picdn.net/shutterstock/videos/21184336/thumb/1.jpg');
      background-size: 100%;
		}
    .box{
      margin: auto;
    }
    .btn{
 			margin-top:5%;
 		}
		</style>
</head>
<body>
  <% if (flashMessages && flashMessages.errors) {
          flashMessages.errors.forEach(function(errorMsg) { %>
              <div class="alert alert-danger" role="alert"><%= errorMsg %></div>
  <% });
  } %>
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase">Welcome To Tic Tac Toe! </h1>
        <div class="row">
          <div class="box col-sm-5 bg-light rounded border py-3 offset-sm-1">
              <h2 class="text-center">Registration</h2>
              <form action="/api/register" method="POST">
                      <div class="form-group">
                        <label for="rname">Name</label>
                        <input type="text" name="userName" id="rname" class="form-control" placeholder="Name" value="<%= (flashMessages.oldName) ? flashMessages.oldName : ''; %>" maxlength="15" required>
                      </div>
                      <div class="form-group">
                        <label for="remail">Email</label>
                        <input type="email" name="userEmail" id="remail" class="form-control" placeholder="Email" value="<%= (flashMessages.oldEmail) ? flashMessages.oldEmail : ''; %>" required>
                      </div>
                      <div class="form-group">
                        <label for="rpass">Password</label>
                        <input type="password" name="userPass" id="rpass" class="form-control" placeholder="Password" minlength="6" required>
                      </div>
                      <div class="form-group">
                        <label for="rcpass">Confirm Password</label>
                        <input type="password" name="userCPass" id="rcpass" class="form-control" placeholder="Confirm Password" minlength="6" required>
                      </div>
                      <% if (flashMessages) {
                          if (flashMessages.registerErrors) {
                            flashMessages.registerErrors.forEach(function(errorMsg) { %>
                            <div class="alert alert-danger" role="alert"><%= errorMsg %></div>
                        <% });
                      }}%>
                        <button type="submit" class="btn btn-success col-sm">Sign Up</button>
                  </form>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
